<div class="row">
  <div class="col-md-8 h1">
    My Wikis
  </div>
  <div class="col-md-4 h1">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>
<hr>
<% if @wikis.count > 0 %>
  <%= render @wikis %>
<% else %>
  <h4>You have not created any wikis yet.</h4>
<% end %>
